@{
    ViewBag.Title = "Главная";
}

<div>
    @ViewBag.Greeting, спасибо, что зашли и @ViewData["Mes"]
    @Html.ActionLink("Введите свои данные", "InputData")
    <p>
        @Html.ActionLink("Посмотрите, кто уже здесь", "OutputData")
    </p>
</div>
