@model IEnumerable<WebApplication1.Models.Bid>
<div id="results">
	<h5> <b>Все заявители кредита "@Model.First().CreditHead" </b></h5>
	<ul>
		@foreach (var item in Model)
		{
			<li>@item.Name</li>
		}
	</ul>
</div>

